@import "./null_style.scss";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  background-color: #b38f81;
  overflow-y: hidden;
}

.empty-corner-common{
  background-color: #b38f81;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
}

.empty-corner{
  &:nth-child(1):before{
    @extend .empty-corner-common;
    top: -15px;
    left: -15px;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 0 0 10px 0;
  }
  &:nth-child(2):before{
    @extend .empty-corner-common;
    top: -15px;
    right: -15px;
    margin-top: -1px;
    margin-right: -1px;
    border-radius: 0 0 0 10px;
  }
  &:nth-child(3):before{
    @extend .empty-corner-common;
    bottom: -15px;
    left: -15px;
    margin-bottom: -1px;
    margin-left: -1px;
    border-radius: 0 10px 0 0;
  }
  &:nth-child(4):before{
    @extend .empty-corner-common;
    bottom: -15px;
    right: -15px;
    margin-bottom: -1px;
    margin-right: -1px;
    border-radius: 10px 0 0 0;
  }
}

.container {
  position: relative;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  height: 95%;
  width: 95%;
  z-index: 1;
}

.corner {
  background-color: black;
  z-index: 3;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -15px;

  &.top-left {
    top: 0;
    left: 0;
    border-radius: 20px 0 5px 0;
  }

  &.top-right {
    top: 0;
    right: 0;
    border-radius: 0 20px 0 5px;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    border-radius: 0 5px 0 20px;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
    border-radius: 5px 0 20px 0;
  }
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sticker {
  position: relative;
  width: 160px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0px 10px 250px / 0 200px 55px 250px;
  -webkit-box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: -3px 5px 12px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  font-family: "Shadows Into Light", cursive;
  font-size: 150%;
  letter-spacing: 2px;

  &.about {
    margin-bottom: 10px;
    background-color: #fcf59b;
  }

  &.projects {
    margin-bottom: 10px;
    background-color: #cffc9b;
  }

  &.contact {
    background-color: #9bc2fc;
  }
}

.sticker::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 20px;
  -webkit-box-shadow: 3px 17px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 17px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 17px 6px rgba(0, 0, 0, 0.3);
  bottom: 15px;
  right: 5px;
  -ms-transform: skew(-10deg, 2deg);
  -webkit-transform: skew(-10deg, 2deg);
  transform: skew(-10deg, 2deg);
}

/* Curl */
.sticker::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 8px;
  bottom: 1px;
  border-top: 10px solid rgb(156, 166, 61);
  border-right: 10px solid transparent;
  -webkit-transform: skew(-55deg, 10deg);
  transform: skew(-55deg, 10deg);
}
