@import "./null_style.scss";
@import "./typography.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1C1C1C;
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 77px;

  &__logo {
    width: 60px;
  }

  &__nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @extend .medium-txt;
  }

  &__nav-link {
    color: #F1F1F1;
  }
}

.short-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 105px;

  &__txt-and-controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__row:nth-child(1) {
    @extend .heading-4;
    color: #E1E1E1;

  }

  &__row:nth-child(2) {
    @extend .heading-1;
    color: #F1F1F1;
  }

  &__name {
    color: #EEBF63;
  }

  &__line-vector {
    margin-left: 80px;
  }

  &__row:nth-child(3) {
    margin-bottom: 62px;
    @extend .body-txt;
    color: #F1F1F1;
  }

  &__social-links {
    color: #F1F1F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 0px;
    margin-bottom: 39px;

    &-txt {
      @extend .body-txt;
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 32px;
      height: 32px;

      svg:hover {
        path {
          fill: #CD921E;
        }
      }

      path {
        fill: #F1F1F1;

      }

    }
  }


  &__contact-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 30px;

    button {
      &:hover {
        background: #CD921E;
      }
    }
  }

  &__mail-me-btn {
    width: 151px;
    height: 55px;
    background: transparent;
    border: 2px solid #CD921E;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    &-txt {
      @extend .medium-txt;
    }
  }


  &__download-cv-btn {
    width: 184px;
    height: 55px;
    border: 2px solid #CD921E;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: #FFFFFF;

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    &-txt {
      @extend .medium-txt;
    }
  }


  &__main-img {
    width: 595px;
    height: 615.46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }


  &__circular--landscape {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
      margin-top: -50px;
    }
  }

  &__circle {
    width: 496px;
    height: 496px;
    mix-blend-mode: normal;
    opacity: 0.16;
    border: 2px solid #E1E1E1;
    border-radius: 50%;
    z-index: -10;
    margin-bottom: -450px;
    margin-left: -30px;
  }

  &__bullet-points {
    background: url('../img/bullet-points.svg');
    width: 245px;
    height: 179.46px;
    margin-top: -100px;
    margin-left: -400px;
    z-index: -11;
  }

}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 1110px;
  height: 414px;
  background: #2F2F2F;
  border-radius: 45px;
  color: #F1F1F1;
  margin-bottom: 50px;

  &__title {
    @extend .heading-1;
    margin-top: 59px;
    margin-bottom: 54px;
  }

  &__pgf {
    width: 570px;
    height: 180px;
    @extend .heading-4;
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 74px;
  color: #F1F1F1;
  margin-bottom: 75px;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 200px;

    &-img {
      width: 200px;
      height: 200px;
      border-radius: 25px;
      background-color: darkgray;
    }

    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      &-btn {
        color: #F1F1F1;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        &:hover {
          color: #CD921E;

          path {
            fill: #CD921E;
          }
        }
      }
    }
  }

}

.contact {
  @extend .welcome;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1110px;
  height: 670px;
  background: #486074;
  margin-bottom: 0px;

  &__form {
    height: 577px;

    &-title {
      @extend .heading-1;
      color: #F1F1F1;
      margin-bottom: 63px;
    }
    &-fields{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 390px;
      gap: 30px;
      margin-bottom: 30px;
    }
    &-field{
      height: 60px;
      width: 100%;
      background: #2F2F2F;
      border-radius: 10px;
      @extend .body-txt;
      color: #E1E1E1;
      padding-left: 33px;
      
      &::placeholder{
        color: #E1E1E1;
      }
    }
    &-text-area{
      padding-top: 10px;
      resize: none;
      height: 120px;
    }
    &-send-btn{
      @extend .medium-txt;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      width: 180px;
      height: 55px;
      background: #CD921E;
      border-radius: 10px;
      color: #F1F1F1;
    }
  }
}

.footer{
  height: 163.9px;
  display: flex;
  align-items: center;
  &__container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #F1F1F1;
  }
  &__txt{
    @extend .heading-2;

  }
  &__social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 0px;
  }
  &__back-to-top{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    justify-content: space-between;

    &-txt{
      width: 141px;
@extend .heading-4;
    }
    &-icon{
      width: 18px;
      height: 24px;
    }
  }
}
