@import "./null_style.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  background-color: #1C1C1C;
}

.header{
  max-width: 1110px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  &__logo{
    width: 100px;
  }
  &__menu{
    padding: 0px;
    font-family: 'Poppins';

    line-height: 24px;
    width: 171px;
    height: 24px;
  }
  &__link{
    &:nth-child(1){
    margin-right: 40px;
  }
    color: #F1F1F1;
  }
}
